<% title("Tasks") %>

<table class="table table-hover table_tasks noselect">
	<% @tasks.each do |task| %>
		<tr onclick=location.href='<%= task_path(task.id) %>'>
			<td class="task_name"><%= task.name.capitalize %></td>
			<td><%= "#{task.days.first.date.strftime("%d-%m-%Y")} - #{task.days.last.date.strftime("%d-%m-%Y")}" %></td>
			<td><%= link_to "delete", task_path(task.id), method: :delete, class: "btn btn-sm btn-danger pull-right" %></td>
		</tr>
	<% end %>
</table>

<div style="height:<%= tasks_timeline_frame_height %>px">
	<%= timeline tasks_timeline(@tasks), 
			library: {backgroundColor: "#43464B",
								enableInteractivity: false,
								height: tasks_timeline_frame_height,
								timeline: { rowLabelStyle: {color: '#fff', fontSize: '15'},
								singleColor: '#3a963a'}} %>
</div>


