<% title("Month Stats - #{@task.name.capitalize}") %>
	
<h2><%= "#{@task.name.capitalize}" %></h2>

<%= render 'shared/calendar' %>

<%= render partial: 'shared/content_menu_links', layout: 'shared/content_menu' %>

<div id="month_select_menu"><%= render 'month_select_menu' %></div>

<div id="charts"><%= render partial: 'charts', locals: {part_days: @month, part_active_days: @active_days_of_month, remaining_time: @month} %></div>
