<% title("Edit day") %>
	
<h2><%= "#{@task.name.capitalize}" %></h2>

<%= render 'shared/calendar' %>

<%= render partial: 'shared/content_menu_links', layout: 'shared/content_menu' %>

<div class="form-horizontal" role="form">
	<%= form_for [@task, @day] do |f| %>
	<div class="form-group form">
	<%= f.hidden_field :work_time %>
	</div>
	<%= render 'clock' %>
	<div class="form-group form center">
	<%= f.submit "Save time", id: "submit" , class: "btn btn-success form_button" %>
	</div>
	<% end %>
</div>
