<header class=" navbar navbar-inverse navbar-static-top " role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "izibalo", login_path, id: "logo" %>
		</div>

		

		<nav class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				<% if logged? %>
					<li class="nav_li"><%= link_to "log out", logout_path, method: :delete %></li>
					<li class="nav_li"><%= link_to "my stats", user_path(current_user) %></li>
					<li class="nav_li"><%= link_to "create task", new_task_path %></li>
					<li class="nav_li"><%= link_to "edit profile", edit_user_path(current_user) %></li>
					<li class="nav_li"><%= link_to "delete account", user_path(current_user), method: :delete %></li>
				<% else %>
				  <% if content_for(:title).include?("Create")  %>
				 		<li class="nav_li"><%= link_to "Login", login_path %></li>
				 	<% else %>
				 		<li class="nav_li"><%= link_to "Create account", new_user_path %></li>
				 	<% end %>
				<% end %>
			</ul>
		</nav>

	</div>
</header>
